.board-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 3vh;
}

.filters {
  display: flex;
  gap: 1vw;
}

#create-new-button {
  width: auto;
}

#close-board {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  background-color: #FEF9EC;
  margin: 0;
  float: left;
  margin-left: 20px;
}