.card {
  display: flex;
  flex-direction: column;
  height: 380px;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  background-color: white;
  transition: transform 0.2s ease;
  gap: 1vh;
}

.card:hover {
  transform: scale(1.05);
}

.card * {
  border-radius: 10px;
}

.card img {
  object-fit: cover;
  height: 300px;
  width: 200px;
}

.features {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}