.home-page {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
  min-height: 100vh;
}

.filters {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

#create-new-button {
  width: auto;
}